

{% load static %}

<div class="w-full bg-blue-900 p-10">
    <div class="flex items-center justify-center gap-3 py-2">
        <div class="p-2">
            <h2
            class="text-4xl md:text-6-xl font-bold leading-tight uppercase
                bg-gradient-to-r from-white to-black bg-clip-text text-transparent
            ">
                follow us on
            </h2>
        </div>
        <div class="p-2">
            <a href="" class="text-white capitalize">
                <i class="fa fa-facebook p-2"></i>
            </a>
            <a href="" class="text-white capitalize">
                <i class="fa fa-instagram p-2"></i>
            </a>
            <a href="" class="text-white capitalize">
                <i class="fa fa-youtube p-2"></i>
            </a>
            <a href="" class="text-white capitalize">
                <i class="fa fa-twitter p-2"></i>
            </a>
            <a href="" class="text-white capitalize">
                <i class="fa fa-tiktok p-2"></i>
            </a>
        </div>
    </div>
    <div class="flex items-center justify-center gap-3 py-2">
        <div class="p-2">
            <a href="" class="text-white capitalize">
                <i class="fa fa-whatsapp p-2"></i>
            </a>
            <a href="" class="text-white capitalize">
                <i class="fa fa-phone p-2"></i>
            </a>
            <p class="text-white capitalize text-2sx font-bold">
                <a href="tel:+2349031360947">+234 903 136 0947</a>,
            </p>
        </div>
        <div class="p-2">
            <h2
            class="text-4xl md:text-6-xl font-bold leading-tight uppercase
                bg-gradient-to-r from-white to-black bg-clip-text text-transparent
            ">
                contact us
            </h2>
        </div>
    </div>
    <div class="py-10">
        <div class="flex items-center justify-center gap-3">
            <p
                class="text-white font-bold capitalize
            ">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script> 
                Stephen Onyekachi. All rights reserved
            </p>
        </div>
    </div>
</div>

