--
-- PostgreSQL database dump
--

\restrict 9Llh1zdAe4KWJUejHyefeBc8SSA3eoGaIChqggXcxX20zqeZ4fty2ZZpFX75NMt

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: lostbutfound_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO lostbutfound_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: App_claim; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public."App_claim" (
    id bigint NOT NULL,
    proof text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    contact_phone character varying(20) NOT NULL,
    contact_email character varying(254) NOT NULL,
    admin_note text,
    status character varying(20) NOT NULL,
    claimant_id integer NOT NULL,
    item_id bigint NOT NULL,
    org_id bigint NOT NULL
);


ALTER TABLE public."App_claim" OWNER TO lostbutfound_user;

--
-- Name: App_claim_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public."App_claim" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."App_claim_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: App_item; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public."App_item" (
    id bigint NOT NULL,
    category character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    picture character varying(100),
    description text,
    status character varying(20) NOT NULL,
    date_posted timestamp with time zone NOT NULL,
    location_found character varying(255),
    item_id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    posted_by_id integer,
    org_id bigint NOT NULL
);


ALTER TABLE public."App_item" OWNER TO lostbutfound_user;

--
-- Name: App_item_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public."App_item" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."App_item_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: App_org; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public."App_org" (
    id bigint NOT NULL,
    orgname character varying(200) NOT NULL,
    subdomain character varying(100) NOT NULL,
    logo character varying(100),
    date_joined date NOT NULL,
    status character varying(20) NOT NULL,
    owner_id integer,
    owner_number character varying(20) NOT NULL,
    plan_id bigint,
    is_trial boolean NOT NULL,
    subscription_end date,
    trial_end date,
    trial_start date NOT NULL
);


ALTER TABLE public."App_org" OWNER TO lostbutfound_user;

--
-- Name: App_org_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public."App_org" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."App_org_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: App_payment; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public."App_payment" (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    currency character varying(10) NOT NULL,
    reference character varying(100) NOT NULL,
    paystack_transaction_id character varying(100),
    status character varying(20) NOT NULL,
    payment_method character varying(50),
    metadata jsonb,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    org_id bigint NOT NULL,
    user_id integer
);


ALTER TABLE public."App_payment" OWNER TO lostbutfound_user;

--
-- Name: App_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public."App_payment" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."App_payment_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: App_plan; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public."App_plan" (
    id bigint NOT NULL,
    amount numeric(10,2),
    name character varying(50) NOT NULL
);


ALTER TABLE public."App_plan" OWNER TO lostbutfound_user;

--
-- Name: App_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public."App_plan" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."App_plan_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: App_profile; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public."App_profile" (
    id bigint NOT NULL,
    gender character varying(200) NOT NULL,
    phone_number character varying(20) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    org_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."App_profile" OWNER TO lostbutfound_user;

--
-- Name: App_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public."App_profile" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."App_profile_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO lostbutfound_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO lostbutfound_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO lostbutfound_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO lostbutfound_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO lostbutfound_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO lostbutfound_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO lostbutfound_user;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO lostbutfound_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO lostbutfound_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO lostbutfound_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: lostbutfound_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO lostbutfound_user;

--
-- Data for Name: App_claim; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public."App_claim" (id, proof, created_at, updated_at, contact_phone, contact_email, admin_note, status, claimant_id, item_id, org_id) FROM stdin;
\.


--
-- Data for Name: App_item; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public."App_item" (id, category, name, picture, description, status, date_posted, location_found, item_id, created_at, updated_at, posted_by_id, org_id) FROM stdin;
\.


--
-- Data for Name: App_org; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public."App_org" (id, orgname, subdomain, logo, date_joined, status, owner_id, owner_number, plan_id, is_trial, subscription_end, trial_end, trial_start) FROM stdin;
6	Stephen Org	stephenorg	media/picture/FB_IMG_1733928637042_lmvqbn	2026-06-16	active	7	09031360947	1	t	\N	2026-07-16	2026-06-16
\.


--
-- Data for Name: App_payment; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public."App_payment" (id, amount, currency, reference, paystack_transaction_id, status, payment_method, metadata, created_at, updated_at, org_id, user_id) FROM stdin;
\.


--
-- Data for Name: App_plan; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public."App_plan" (id, amount, name) FROM stdin;
1	0.00	Free Plan
2	50.00	Premium Plan
3	150.00	Pro Plan
\.


--
-- Data for Name: App_profile; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public."App_profile" (id, gender, phone_number, role, created_at, updated_at, org_id, user_id) FROM stdin;
6	male	09031360947	admin	2026-06-16 19:38:34.031563+00	2026-06-16 19:38:34.031577+00	6	7
7	male	09031360947	member	2026-06-16 20:08:35.092425+00	2026-06-16 20:08:35.092439+00	6	8
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	App	claim
8	App	item
9	App	org
10	App	payment
11	App	plan
12	App	profile
13	authtoken	token
14	authtoken	tokenproxy
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: lostbutfound_user
--



--
-- Name: App_claim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public."App_claim_id_seq"', 1, false);


--
-- Name: App_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public."App_item_id_seq"', 1, false);


--
-- Name: App_org_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public."App_org_id_seq"', 6, true);


--
-- Name: App_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public."App_payment_id_seq"', 1, false);


--
-- Name: App_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public."App_plan_id_seq"', 1, false);


--
-- Name: App_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public."App_profile_id_seq"', 7, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 8, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 22, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lostbutfound_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 31, true);


--
-- Name: App_claim App_claim_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_claim"
    ADD CONSTRAINT "App_claim_pkey" PRIMARY KEY (id);


--
-- Name: App_item App_item_item_id_key; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_item"
    ADD CONSTRAINT "App_item_item_id_key" UNIQUE (item_id);


--
-- Name: App_item App_item_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_item"
    ADD CONSTRAINT "App_item_pkey" PRIMARY KEY (id);


--
-- Name: App_org App_org_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_org"
    ADD CONSTRAINT "App_org_pkey" PRIMARY KEY (id);


--
-- Name: App_org App_org_subdomain_key; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_org"
    ADD CONSTRAINT "App_org_subdomain_key" UNIQUE (subdomain);


--
-- Name: App_payment App_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_payment"
    ADD CONSTRAINT "App_payment_pkey" PRIMARY KEY (id);


--
-- Name: App_payment App_payment_reference_key; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_payment"
    ADD CONSTRAINT "App_payment_reference_key" UNIQUE (reference);


--
-- Name: App_plan App_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_plan"
    ADD CONSTRAINT "App_plan_pkey" PRIMARY KEY (id);


--
-- Name: App_profile App_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_profile"
    ADD CONSTRAINT "App_profile_pkey" PRIMARY KEY (id);


--
-- Name: App_profile App_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_profile"
    ADD CONSTRAINT "App_profile_user_id_key" UNIQUE (user_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: App_claim unique_claim_per_user_item; Type: CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_claim"
    ADD CONSTRAINT unique_claim_per_user_item UNIQUE (item_id, claimant_id);


--
-- Name: App_claim_claimant_id_c51733c1; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_claim_claimant_id_c51733c1" ON public."App_claim" USING btree (claimant_id);


--
-- Name: App_claim_item_id_f4dabec7; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_claim_item_id_f4dabec7" ON public."App_claim" USING btree (item_id);


--
-- Name: App_claim_org_id_a4dc37d6; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_claim_org_id_a4dc37d6" ON public."App_claim" USING btree (org_id);


--
-- Name: App_item_name_e3c973_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_item_name_e3c973_idx" ON public."App_item" USING btree (name);


--
-- Name: App_item_org_id_766fc0_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_item_org_id_766fc0_idx" ON public."App_item" USING btree (org_id);


--
-- Name: App_item_org_id_fc0c6707; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_item_org_id_fc0c6707" ON public."App_item" USING btree (org_id);


--
-- Name: App_item_posted_by_id_6ee6e808; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_item_posted_by_id_6ee6e808" ON public."App_item" USING btree (posted_by_id);


--
-- Name: App_item_status_8d7855_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_item_status_8d7855_idx" ON public."App_item" USING btree (status);


--
-- Name: App_org_owner_id_dec7957d; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_org_owner_id_dec7957d" ON public."App_org" USING btree (owner_id);


--
-- Name: App_org_plan_id_5c64f73c; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_org_plan_id_5c64f73c" ON public."App_org" USING btree (plan_id);


--
-- Name: App_org_subdomain_7638cfe1_like; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_org_subdomain_7638cfe1_like" ON public."App_org" USING btree (subdomain varchar_pattern_ops);


--
-- Name: App_payment_org_id_351f96_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_payment_org_id_351f96_idx" ON public."App_payment" USING btree (org_id);


--
-- Name: App_payment_org_id_e2d5a29a; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_payment_org_id_e2d5a29a" ON public."App_payment" USING btree (org_id);


--
-- Name: App_payment_referen_3f0278_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_payment_referen_3f0278_idx" ON public."App_payment" USING btree (reference);


--
-- Name: App_payment_reference_3a248c2c_like; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_payment_reference_3a248c2c_like" ON public."App_payment" USING btree (reference varchar_pattern_ops);


--
-- Name: App_payment_status_c30468_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_payment_status_c30468_idx" ON public."App_payment" USING btree (status);


--
-- Name: App_payment_user_id_769242c5; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_payment_user_id_769242c5" ON public."App_payment" USING btree (user_id);


--
-- Name: App_profile_org_id_0192b6b9; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_profile_org_id_0192b6b9" ON public."App_profile" USING btree (org_id);


--
-- Name: App_profile_org_id_518284_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_profile_org_id_518284_idx" ON public."App_profile" USING btree (org_id);


--
-- Name: App_profile_user_id_2ecd5e_idx; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX "App_profile_user_id_2ecd5e_idx" ON public."App_profile" USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: lostbutfound_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: App_claim App_claim_claimant_id_c51733c1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_claim"
    ADD CONSTRAINT "App_claim_claimant_id_c51733c1_fk_auth_user_id" FOREIGN KEY (claimant_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_claim App_claim_item_id_f4dabec7_fk_App_item_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_claim"
    ADD CONSTRAINT "App_claim_item_id_f4dabec7_fk_App_item_id" FOREIGN KEY (item_id) REFERENCES public."App_item"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_claim App_claim_org_id_a4dc37d6_fk_App_org_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_claim"
    ADD CONSTRAINT "App_claim_org_id_a4dc37d6_fk_App_org_id" FOREIGN KEY (org_id) REFERENCES public."App_org"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_item App_item_org_id_fc0c6707_fk_App_org_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_item"
    ADD CONSTRAINT "App_item_org_id_fc0c6707_fk_App_org_id" FOREIGN KEY (org_id) REFERENCES public."App_org"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_item App_item_posted_by_id_6ee6e808_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_item"
    ADD CONSTRAINT "App_item_posted_by_id_6ee6e808_fk_auth_user_id" FOREIGN KEY (posted_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_org App_org_owner_id_dec7957d_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_org"
    ADD CONSTRAINT "App_org_owner_id_dec7957d_fk_auth_user_id" FOREIGN KEY (owner_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_org App_org_plan_id_5c64f73c_fk_App_plan_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_org"
    ADD CONSTRAINT "App_org_plan_id_5c64f73c_fk_App_plan_id" FOREIGN KEY (plan_id) REFERENCES public."App_plan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_payment App_payment_org_id_e2d5a29a_fk_App_org_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_payment"
    ADD CONSTRAINT "App_payment_org_id_e2d5a29a_fk_App_org_id" FOREIGN KEY (org_id) REFERENCES public."App_org"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_payment App_payment_user_id_769242c5_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_payment"
    ADD CONSTRAINT "App_payment_user_id_769242c5_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_profile App_profile_org_id_0192b6b9_fk_App_org_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_profile"
    ADD CONSTRAINT "App_profile_org_id_0192b6b9_fk_App_org_id" FOREIGN KEY (org_id) REFERENCES public."App_org"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: App_profile App_profile_user_id_b93ddc45_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public."App_profile"
    ADD CONSTRAINT "App_profile_user_id_b93ddc45_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lostbutfound_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO lostbutfound_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO lostbutfound_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO lostbutfound_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO lostbutfound_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 9Llh1zdAe4KWJUejHyefeBc8SSA3eoGaIChqggXcxX20zqeZ4fty2ZZpFX75NMt

