

{% extends 'base/head.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<!-- for nave -->
{% include 'base/usersnav.html' %}


<div class="px-5 py-10 md:px-6 md:py-8 absolute w-full mt-15 md:mt-18">

    <div>

        <div class="flex items-center px-2 pt-5 pb-2 w-full text-blue-500">
            <i class="fa fa-cubes"></i>
            <h3 class="ml-3 font-bold uppercase">
                all claims ({{ claimmers.count | intcomma }})
            </h3>
        </div>

        {% if claimmers %}

        {% for item in claimmers %}

        <div 
            class="w-full rounded shadow p-1 my-2"
        >
            <div class="md:flex">
                <a href="{{ item.item.picture.url }}">
                    <img 
                        src="{{ item.item.picture.url }}" 
                        alt="item image"
                        class="w-[100px] object-contain pr-3
                        md:w-[200px] md:object-contain rounded"
                    >
                </a>
                <div class="w-full">
                    <h1 class="text-1xl font-bold text-blue-600 capitalize">
                        {{ item.item.name }}
                    </h1>
                    <p class="text-xs text-blue-400 capitalize">
                        <b class="text-blue-600">Found Location:</b> {{ item.item.location_found }}
                    </p>
                    <p class="text-xs text-blue-400 capitalize">
                        {{ item.item.description }}
                    </p>
                    <small class="text-gray-500 text-[10px]">POSTED ON: {{ item.item.date_posted }}</small><br>
                    <small class="text-gray-500 text-[10px]">ITEM CATEGORY: {{ item.item.category }}</small><br>
                    <small class="text-gray-500 text-[10px]">ITEM STATUS: {{ item.item.status }}</small><br>
                    <small class="text-gray-500 text-[10px]">ITEM ID: {{ item.item.item_id }}</small><br>
                </div>
            </div>
            <div class="py-2 px-2">
                <div>
                    <h1 class="text-1xl font-bold text-blue-600 capitalize">
                        about claimmer
                    </h1>
                    <p class="text-xs text-blue-600 capitalize">
                        {{ item.claimant.username }}
                    </p>
                    <p class="text-xs text-blue-600 capitalize">
                        {{ item.contact_phone }}
                    </p>
                    <p class="text-xs text-blue-600 capitalize">
                        {{ item.contact_email }}
                    </p>
                    <small class="text-gray-500 text-[10px]">CLAIMED ON: {{ item.created_at }}</small><br>
                </div>

                {% if profile.role == 'admin' %}

                <div class="w-full mt-2">
                    <form action=""
                        method="post" enctype="multipart/form-data"
                    >

                        {% csrf_token %}

                        <div class="pb-2">
                            <p class="text-xs text-blue-600 capitalize">
                                STATUS: {{ item.status }}
                            </p>
                        </div>
                        <div class="pb-2">
                            <input type="text" name="id" id="" value="{{ item.id }}" hidden>
                            <p class="text-xs text-blue-400 capitalize font-bold">update status:</p>
                            <select name="status" id="" required
                                class="w-full outline-none rounded border-1 border-blue-600 p-1 mb-3 outline-none"
                            >
                                <option value="">
                                    Selete Status
                                </option>
                                {% for value, label in status %}
                                <option value="{{ value }}">
                                    {{ label }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <button
                                type="submit"
                                class="w-full font-lighter capitalize bg-blue-600 rounded p-2 text-white text-[12px] mr-1"
                            >
                                update changes
                            </button>
                        </div>
                    </form>
                </div>

                {% endif %}
                
            </div>
        </div>

        {% endfor %}

        {% else %}

        <div 
            class="w-full rounded shadow p-1 my-2"
        >
            <div class="flex items-center">
                <div class="p-10">
                    <i class="fa fa-users text-gray-300"></i>
                </div>
                <div class="w-full">
                    <h1 class="text-1xl font-bold text-gray-600 capitalize">
                        no item claimmer found
                    </h1>
                </div>
            </div>
        </div>

        {% endif %}
        
    </div>

</div>


{% endblock %}

