

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./static/effects.js" defer></script>

    <link rel="stylesheet" href="./static/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="./static/dist/output.css">
    <link rel="icon" type="image/x-icon" href="./static/images/img3.png">

    <title>Lost and Found</title>
</head>
<body>

    <div class="flex items-center p-10 gap-2">
        <img src="./static/images/logo.jpg" 
            alt="logo"
            class="w-[50px] rounded-full"
        >
        <p class="text-blue-900 font-bold capitalize">
            Organization Name
        </p>
    </div>

    <div class="bg-white h-auto">

        <div class="flex flex-col-reverse md:flex-row items-center justify-center h-auto gap-10 p-10 md:p-2">
            <div class="max-w-xl pt-10">
                <h1 class="text-4xl md:text-6-xl font-bold leading-tight uppercase
                    bg-gradient-to-r from-blue-600 to-black bg-clip-text text-transparent
                ">
                    login to your account
                </h1>
                <p class="text-blue-300 mt-1 text capitalize">
                    very secure, and protected. our users security is our job.
                </p>
                <div
                    class="py-5 flex flex-col gap-5"
                >
                    <div>
                        <form action="" class="flex flex-col">
                            <label for="" class="text-blue-900 capitalize">username</label>
                            <input 
                                type="text" 
                                placeholder="Username"
                                class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                            >
                            <label for="" class="text-blue-900 capitalize">password</label>
                            <input
                                type="password" 
                                placeholder="Password"
                                class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                            >
                            <button type="submit"
                                class="bg-blue-600 text-white text-xs p-2 uppercase font-semibold rounded"
                            >
                                login
                            </button>
                        </form>
                    </div>
                </div>
                <div
                    class="py-2 flex gap-5"
                >
                    <a href="" class="text-red-300 capitalize font-sm">forgetten password</a>

                </div>
                <div
                    class="py-5 flex gap-5"
                >
                    <a href="orgSignup.html" class="text-blue-800 capitalize font-bold">sign up here</a>
                </div>
            </div>
        </div>

    </div>

    <div class="w-full bg-blue-900 p-10">
        <div class="p-2">
            <div class="flex items-center justify-center gap-3">
                <a href="" class="text-white capitalize">
                    <i class="fa fa-facebook p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-instagram p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-youtube p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-twitter p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-tiktalk p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-whatsapp p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-phone p-2"></i>
                </a>
            </div>
        </div>
        <div class="py-10">
            <div class="flex items-center justify-center gap-3">
                <p
                    class="text-white font-bold capitalize
                ">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> 
                    Stephen Onyekachi. All rights reserved
                </p>
            </div>
        </div>
    </div>

</body>
</html>
