

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./static/effects.js" defer></script>

    <link rel="stylesheet" href="./static/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="./static/dist/output.css">
    <link rel="icon" type="image/x-icon" href="./static/images/img3.png">

    <title>Lost and Found</title>
</head>
<body>

    <div class="flex items-center p-10 gap-2">
        <img src="./static/images/logo.jpg" 
            alt="logo"
            class="w-[50px] rounded-full"
        >
        <p class="text-blue-900 font-bold capitalize">
            Organization Name
        </p>
    </div>

    <div class="bg-white h-auto">

        <div class="flex flex-col-reverse md:flex-row items-center justify-center h-auto gap-10 p-10 md:p-2">
            <div class="max-w-xl pt-10">
                <h1 class="text-4xl md:text-6-xl font-bold leading-tight uppercase
                    bg-gradient-to-r from-blue-600 to-black bg-clip-text text-transparent
                ">
                    create an account with us
                </h1>
                <p class="text-blue-300 mt-1 text capitalize">
                    very secure, and protected. our users security is our job.
                </p>
                <div
                    class="py-5 flex flex-col gap-5"
                >
                    <div>
                        <form action="" class="flex flex-col">
                            <div class="flex flex-wrap gap-1 w-full">
                                <div class="w-full">
                                    <label for="" class="text-blue-900 capitalize">reffering link</label>
                                    <input 
                                        type="text" 
                                        placeholder="Reffering Link"
                                        class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                                    >
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-1 w-full">
                                <div class="w-full md:w-[49%]">
                                    <label for="" class="text-blue-900 capitalize">username</label>
                                    <input 
                                        type="text" 
                                        placeholder="Username"
                                        class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                                    >
                                </div>    
                                <div class="w-full md:w-[49%]">
                                    <label for="" class="text-blue-900 capitalize">phone number</label>
                                    <input 
                                        type="number" 
                                        placeholder="Phone Number"
                                        class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                                    >
                                </div>    
                            </div>
                            <div class="flex flex-wrap gap-1 w-full">
                                <div class="w-full md:w-[49%]">
                                    <label for="" class="text-blue-900 capitalize">email</label>
                                    <input 
                                        type="email" 
                                        placeholder="Email"
                                        class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                                    >
                                </div>    
                                <div class="w-full md:w-[49%]">
                                    <label for="" class="text-blue-900 capitalize">gender</label>
                                    <select name="gender" id=""
                                        class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                                    >
                                        <option value="male">
                                            Male
                                        </option>
                                        <option value="female">
                                            Female
                                        </option>
                                    </select>
                                </div>    
                            </div>
                            <div class="flex flex-wrap gap-1 w-full">
                                <div class="w-full md:w-[49%]">
                                    <label for="" class="text-blue-900 capitalize">subdomain name</label>
                                    <input 
                                        type="text" 
                                        placeholder="Subdomain"
                                        class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                                    >
                                </div>    
                                <div class="w-full md:w-[49%]">
                                    <label for="" class="text-blue-900 capitalize">password</label>
                                    <input
                                        type="password" 
                                        placeholder="Password"
                                        class="w-full outline-none rounded border-1 border-blue-900 p-1 mb-3"
                                    >
                                </div>    
                            </div>
                            <button type="submit"
                                class="bg-blue-600 text-white text-xs p-2 uppercase font-semibold rounded"
                            >
                                sign up
                            </button>
                        </form>
                    </div>
                </div>
                <div
                    class="py-5 flex gap-5"
                >
                    <a href="orgLogin.html" class="text-blue-800 capitalize font-bold">login here</a>
                </div>
            </div>
        </div>

    </div>

    <div class="w-full bg-blue-900 p-10">
        <div class="p-2">
            <div class="flex items-center justify-center gap-3">
                <a href="" class="text-white capitalize">
                    <i class="fa fa-facebook p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-instagram p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-youtube p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-twitter p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-tiktalk p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-whatsapp p-2"></i>
                </a>
                <a href="" class="text-white capitalize">
                    <i class="fa fa-phone p-2"></i>
                </a>
            </div>
        </div>
        <div class="py-10">
            <div class="flex items-center justify-center gap-3">
                <p
                    class="text-white font-bold capitalize
                ">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> 
                    Stephen Onyekachi. All rights reserved
                </p>
            </div>
        </div>
    </div>

</body>
</html>
